html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #0ea5e9;
}

.form {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  margin-top: 4rem;
}

.form .input-label {
  gap: 5px;
}

.dragover,
.active {
  border: 2px solid #0ea5e9 !important;
}

.progress-area.prog {
  /* position: absolute; */
  bottom: -40%;
  width: 100%;
  margin-bottom: -95px;
}

.prog .row {
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.prog .row i {
  color: #6990f2;
  font-size: 30px;
}
.prog .details span {
  font-size: 14px;
}

.prog button {
  padding: 20px 15px;
}

.progress-area .row .content {
  width: 100%;
}
.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  border-radius: inherit;
}
.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress {
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar {
  width: 0px;
}
.uploaded-area .row .content {
  display: flex;
  align-items: center;
}
.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check {
  font-size: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
